body {
  background: url('./level1_bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}

canvas {
  display: block;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
